<h1>Editing election period</h1>

<%= render "form", election_period: @election_period %>

<br>

<div>
  <%= link_to "Show this election period", @election_period %> |
  <%= link_to "Back to election periods", election_periods_path %>
</div>
