<div id="<%= dom_id political_party %>">
  <p>
    <strong>Name:</strong>
    <%= political_party.name %>
  </p>

  <p>
    <strong>Iebc:</strong>
    <%= political_party.iebc_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= political_party.admin_id %>
  </p>

</div>
