<h1>Editing political party</h1>

<%= render "form", political_party: @political_party %>

<br>

<div>
  <%= link_to "Show this political party", @political_party %> |
  <%= link_to "Back to political parties", political_parties_path %>
</div>
