<div id="<%= dom_id counting_station %>">
  <p>
    <strong>Name:</strong>
    <%= counting_station.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= counting_station.location %>
  </p>

</div>
