<h1>Editing counting station</h1>

<%= render "form", counting_station: @counting_station %>

<br>

<div>
  <%= link_to "Show this counting station", @counting_station %> |
  <%= link_to "Back to counting stations", counting_stations_path %>
</div>
