<div id="<%= dom_id electoral_position %>">
  <p>
    <strong>Name:</strong>
    <%= electoral_position.name %>
  </p>

  <p>
    <strong>Jurisdiction:</strong>
    <%= electoral_position.jurisdiction %>
  </p>

</div>
