<h1>Editing electoral position</h1>

<%= render "form", electoral_position: @electoral_position %>

<br>

<div>
  <%= link_to "Show this electoral position", @electoral_position %> |
  <%= link_to "Back to electoral positions", electoral_positions_path %>
</div>
