<div id="<%= dom_id tally %>">
  <p>
    <strong>Candidate:</strong>
    <%= tally.candidate_id %>
  </p>

  <p>
    <strong>Total count:</strong>
    <%= tally.total_count %>
  </p>

  <p>
    <strong>Counting station:</strong>
    <%= tally.counting_station_id %>
  </p>

</div>
