<div id="<%= dom_id observer %>">
  <p>
    <strong>Name:</strong>
    <%= observer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= observer.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= observer.password_digest %>
  </p>

</div>
